<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <span id="message" class="copyright"></span>
            </div>
            <div class="col-md-4">
                <ul class="list-inline social-buttons">
                    <li><a id="social-email" href="#"><i class="fa fa-envelope"></i></a>
                    </li>
                    <li><a id="social-facebook" target="_blank" href="http://www.facebook.com/showstoppa32"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li><a id="social-whatsapp" href="#"><i class="fa fa-whatsapp"></i></a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <span class="copyright">Copyright &copy; Gerard Sound 'n' Lights 2016</span>
            </div>
            <!-- <div class="col-md-4">
                <ul class="list-inline quicklinks">
                    <li><a href="#">Privacy Policy</a>
                    </li>
                    <li><a href="#">Terms of Use</a>
                    </li>
                </ul>
            </div> -->
        </div>
    </div>
</footer>
