<!-- Portfolio Grid Section -->
<section id="gallery">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2 class="section-heading">Gallery</h2>
				<h3 class="section-subheading text-muted"></h3>
			</div>
		</div>

		<!-- <div class="row">
			<div class="col-md-3 col-md-offset-1 col-sm-6">
				<img src="img/gallery/wa.jpeg" class="img-responsive" alt="">
			</div>
			<div class="col-md-3 col-sm-6">
				<img src="img/gallery/wa.jpeg" class="img-responsive" alt="">
			</div>
			<div class="col-md-3 col-sm-6">
				<img src="img/gallery/wa.jpeg" class="img-responsive" alt="">
			</div>
		</div> -->
		<div class="row">
			<div class="gallery-img">
				<img src="img/gallery/V1MYP9.jpg" class="img-responsive" alt="">
			</div>
			<div class="gallery-img">
				<img src="img/gallery/6ef18d9f271d65de18afd0065ee1503b.jpg" class="img-responsive" alt="">
			</div>
			<div class="gallery-img">
				<img src="img/gallery/lighting-23.jpg" class="img-responsive" alt="">
			</div>
		</div>

		<div class="row">
			<div class="gallery-img">
				<img src="img/gallery/2674e5a68846994362f00b48d8f0d275.jpg" class="img-responsive" alt="">
			</div>
			<div class="gallery-img">
				<img src="img/gallery/ib_gym.jpg" class="img-responsive" alt="">
			</div>
			<div class="gallery-img">
				<img src="img/gallery/IMG_6078.jpg" class="img-responsive" alt="">
			</div>
		</div>

		<div class="row">
			<div class="gallery-img">
				<img src="img/gallery/maxresdefault.jpg" class="img-responsive" alt="">
			</div>
			<div class="gallery-img">
				<img src="img/gallery/wa.jpeg" class="img-responsive" alt="">
			</div>
			<div class="gallery-img">
				<img src="img/gallery/IMG_6137.jpg" class="img-responsive" alt="">
			</div>
		</div>

		<div class="row">
			<div class="gallery-img">
				<img src="img/gallery/8c21b9860ed23553243063bd04d3fe65.jpg" class="img-responsive" alt="">
			</div>
			<div class="gallery-img">
				<img src="img/gallery/16-stage-lighting-500x500.jpg" class="img-responsive" alt="">
			</div>
		</div>

	</div>
</section>
